@import "./base.css";
@import "@mdi/font/css/materialdesignicons.css";
@import "@fortawesome/fontawesome-free/css/all.css";

#app {
  width: 100%;
  min-height: 100vh;
  margin: 2rem;
  font-weight: normal;
}

a {
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(207, 90%, 54%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    padding: 0 2rem;
  }
}
